html{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;

    background-image: url("Assets/Images/library.jpg");
    background-size: 100vw 200vh;
}

.book-add{
    margin: 2vw 0vw 2vw 46.5vw;

    font-size: 16px;
    color: #4ba6c4;
    background: transparent;
    border: 2px solid #4ba6c4;
    border-radius: 6px;
    padding: 5px;
    
}

.book-add:hover{
    color: white;
    background-color: #4ba6c4;
}

#container{
    width: 100%;
    height: 50%;

    padding: 1.2rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 3%;
}

.input-container > label{
    font-size: 18px;
    color: whitesmoke;
    mix-blend-mode: difference;
    
}

#submit{
    font-size: 16px;
    color: #4ba6c4;
    background: transparent;
    border: 2px solid #4ba6c4;
    border-radius: 6px;
    padding: 5px;
}

#submit:hover{
    color: white;
    background-color: #4ba6c4;
}

.library{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.book-container{
    width: 95%;
    height: calc((90/15) * 1%);
    margin-top: 1%;

    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;

    background-color: aqua;
}

.book-button{
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-bottom: 5px;
    
    background-color: red;
    font-size: 10px;
    
    
}